{% extends "base.njk" %}

{% block mainContent %}

<div class='inside'>

  <!-- title -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    <div class='Grid-cell'>
      <h2>Test</h2>
    </div>
  </div>

  <!-- <h2>About</h2> -->

  <!-- kolonner -->
  <div class="Grid Grid--gutters Grid--full large-Grid--fit">
    
    <div class='Grid-cell'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod sapien eu est euismod, vel vehicula massa efficitur. Aliquam sed nulla neque. In et nunc tortor. Sed in ornare orci. Nunc id urna pharetra, sodales ante at, volutpat purus. Curabitur ac nunc condimentum, fringilla lectus sed, sollicitudin felis. Morbi egestas lorem varius dui consectetur porta.</p>
      <p>Vivamus mauris odio, suscipit a quam nec, fermentum ullamcorper est. Sed consequat mauris non consequat semper. Sed ut diam eu nunc cursus faucibus. Suspendisse hendrerit vitae metus pulvinar vehicula. Integer eu nulla a turpis ornare semper a nec felis. Phasellus vel interdum ligula. Proin dictum risus a nisl finibus, sit amet mattis tortor dignissim. Aliquam aliquam massa id aliquet tristique.</p>
    </div>

    <div class='Grid-cell'>
      <p>Aliquam erat volutpat. Cras hendrerit varius ante. Nullam iaculis augue eget urna cursus, eu auctor mi finibus. Sed non velit sit amet metus luctus mattis. Sed semper id neque ac tempus. In viverra tellus vel semper pellentesque. Nunc eget urna eget mauris consectetur suscipit id in est. Etiam euismod accumsan orci, ut mattis risus dapibus quis. Suspendisse vestibulum, dui et aliquet vehicula, ipsum diam feugiat massa, a cursus lacus enim sed ante. Proin in malesuada magna. Proin dictum tortor sed fringilla auctor. Ut pulvinar nisl sed augue luctus, ac placerat magna semper. Cras magna ex, condimentum nec quam convallis, mattis cursus ligula. Vestibulum ut ex vel neque iaculis sagittis.</p>
    </div>

  </div>

</div>  

{% endblock mainContent %}